<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name="io.github.mangi.eta.validation.DisplayProbeActivity"
            android:exported="true" android:resizeableActivity="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider android:name="io.github.mangi.eta.validation.DisplayProbeProvider"
            android:authorities="io.github.mangi.eta.test.display_probe" android:exported="true" />
    </application>
</manifest>
